<style type="text/css">
#T_c871a_row0_col0, #T_c871a_row0_col1, #T_c871a_row0_col2, #T_c871a_row0_col3, #T_c871a_row0_col4 {
  background: rgba(255,255,178,0.75);
  axis: 1;
}
#T_c871a_row1_col0, #T_c871a_row1_col1, #T_c871a_row1_col2, #T_c871a_row1_col3, #T_c871a_row1_col4 {
  background: rgba(254,204,92,0.75);
  axis: 1;
}
#T_c871a_row2_col0, #T_c871a_row2_col1, #T_c871a_row2_col2, #T_c871a_row2_col3, #T_c871a_row2_col4 {
  background: rgba(253,141,60,0.75);
  axis: 1;
}
#T_c871a_row3_col0, #T_c871a_row3_col1, #T_c871a_row3_col2, #T_c871a_row3_col3, #T_c871a_row3_col4 {
  background: rgba(240,59,32,0.75);
  axis: 1;
}
#T_c871a_row4_col0, #T_c871a_row4_col1, #T_c871a_row4_col2, #T_c871a_row4_col3, #T_c871a_row4_col4 {
  background: rgba(189,0,38,0.75);
  axis: 1;
}
</style>
<table id="T_c871a_">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th class="col_heading level0 col0" >Residential [TJ/km²year]</th>
      <th class="col_heading level0 col1" >Non-Residential [TJ/km²year]</th>
      <th class="col_heading level0 col2" >Total [TJ/km²year]</th>
      <th class="col_heading level0 col3" >Band [TJ/km²year]</th>
      <th class="col_heading level0 col4" >% Share [MWh/year]</th>
    </tr>
    <tr>
      <th class="index_name level0" >Feasibility</th>
      <th class="blank col0" >&nbsp;</th>
      <th class="blank col1" >&nbsp;</th>
      <th class="blank col2" >&nbsp;</th>
      <th class="blank col3" >&nbsp;</th>
      <th class="blank col4" >&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_c871a_level0_row0" class="row_heading level0 row0" >Not Feasible</th>
      <td id="T_c871a_row0_col0" class="data row0 col0" >237</td>
      <td id="T_c871a_row0_col1" class="data row0 col1" >104</td>
      <td id="T_c871a_row0_col2" class="data row0 col2" >342</td>
      <td id="T_c871a_row0_col3" class="data row0 col3" ><20</td>
      <td id="T_c871a_row0_col4" class="data row0 col4" >0.3</td>
    </tr>
    <tr>
      <th id="T_c871a_level0_row1" class="row_heading level0 row1" >Future Potential</th>
      <td id="T_c871a_row1_col0" class="data row1 col0" >1737</td>
      <td id="T_c871a_row1_col1" class="data row1 col1" >211</td>
      <td id="T_c871a_row1_col2" class="data row1 col2" >1948</td>
      <td id="T_c871a_row1_col3" class="data row1 col3" >20-50</td>
      <td id="T_c871a_row1_col4" class="data row1 col4" >1.6</td>
    </tr>
    <tr>
      <th id="T_c871a_level0_row2" class="row_heading level0 row2" >Feasible with Supporting Regulation</th>
      <td id="T_c871a_row2_col0" class="data row2 col0" >21368</td>
      <td id="T_c871a_row2_col1" class="data row2 col1" >1810</td>
      <td id="T_c871a_row2_col2" class="data row2 col2" >23178</td>
      <td id="T_c871a_row2_col3" class="data row2 col3" >50-120</td>
      <td id="T_c871a_row2_col4" class="data row2 col4" >18.5</td>
    </tr>
    <tr>
      <th id="T_c871a_level0_row3" class="row_heading level0 row3" >Feasible</th>
      <td id="T_c871a_row3_col0" class="data row3 col0" >88360</td>
      <td id="T_c871a_row3_col1" class="data row3 col1" >3534</td>
      <td id="T_c871a_row3_col2" class="data row3 col2" >91894</td>
      <td id="T_c871a_row3_col3" class="data row3 col3" >120-300</td>
      <td id="T_c871a_row3_col4" class="data row3 col4" >73.4</td>
    </tr>
    <tr>
      <th id="T_c871a_level0_row4" class="row_heading level0 row4" >Very Feasible</th>
      <td id="T_c871a_row4_col0" class="data row4 col0" >4064</td>
      <td id="T_c871a_row4_col1" class="data row4 col1" >3689</td>
      <td id="T_c871a_row4_col2" class="data row4 col2" >7753</td>
      <td id="T_c871a_row4_col3" class="data row4 col3" >>300</td>
      <td id="T_c871a_row4_col4" class="data row4 col4" >6.2</td>
    </tr>
  </tbody>
</table>
